*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins'sans-serif;
}
.hero{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  }
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
h2{
  color:white;
  text-decoration: none;
}
h2 :hover{
  text-decoration:none ;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
nav ul li a{
    text-decoration:none;
    color: white;
    font-size: 15px;
}

/*footer*/

.footer {
  width: 100%;
  height: 50vh;
  background:white;
  color: black;
  padding: 20px;
}

.footer a {
  padding-top: 0%;
  color: white;
  transition: color 0.3s ease;
  font-size: 20px;
}
.footercontent{
  text-align: left;
}
.footer a:hover {
  color:orange;
}
.footer-column a{
  text-decoration: none;

}
.footer-column a :hover{
  text-decoration: underline;

}
